<!DOCTYPE html>
<html>
<head>
	<title>Winebar Finder Project</title>
	<link rel="stylesheet" type="text/css" href='../stylesheets/app.css' > 
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto|Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>