<!DOCTYPE html>
<html>
<head>
	<title>Winebar Finder Project</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
</head>
<body>
<main>
	<h1>Inital Setup Successful!</h1>
</main>
</body>
</html>