<% include partials/header %>
<% include partials/svg %>
<body class="index-page">
<header>
	<div class="index-header__background">
	</div>
	<div class="index-header__logo-box">
		<img src="../img/logo.png" class="index-header__logo-image">
	</div>
	<div class="index-header__text-box">
		<div class="index-header__text">"Where there is no <span class="index-header__text-mark">Wine</span> there is no <span class="index-header__text-mark">love</span>"<span class="index-header__text-author"> - Euripides</span>
	</div>
	<div class="index-header__search">
		<form action="" method="GET" class="index-header__search-form">
			<input type="text" name="search" class="index-header__search-input" placeholder="Find your Winebar..." required>
			<button class="index-header__search-button">Go</button>
		</form>
	</div>
</header>
<div class=navigation>
		<input type="checkbox" class="navigation__checkbox" id="nav-toggle">
		<label for="nav-toggle" class="navigation__button">
			<span class="navigation__icon">&nbsp;</span>
		</label>
		<div class="navigation__background">
		</div>
		<nav class="navigation__nav">
			<ul class="navigation__list">
				<li class="navigation__item"><a href="#" class=navigation__link>About</a></li>
				<li class="navigation__item"><a href="/directory" class=navigation__link>Directory</a></li>
				<li class="navigation__item"><a href="#" class=navigation__link>Register</a></li>
				<li class="navigation__item"><a href="#" class=navigation__link>Log In</a></li>
			</ul>
		</nav>
</div>

<% include partials/footer %>
