$grid: (
	one: 	1,
	two: 	2,
	three: 	3,
	four: 	4,
	five: 	5,
	six: 	6,
	seven: 	7,
	eight: 	8,
	nine: 	9,
	ten: 	10,
	eleven: 11,
	twelve: 12
	);

$grid_width: 90vw;
$gutter_horizontal: 6rem;
$gutter_vertical: 3rem;
$grid_test_color: red;


