//Primary Color Scheme

$color-primary-1: #011A27; 			//Dark Navy Color
$color-primary-2: #063852;			//Lighter blueish shade
$color-primary-3: #F0810F;			//Bright high contrast orange;
$color-primary-4: #E6DF44;			//Bright high contrast yellow

// Black n White 

$color-white: #fff;
$color-black: #000;

// Grey Shades

$color-grey-1: #FAFAFA;				//Very light grey for text
$color-grey-2: #F7F7F7;				//Light grey
$color-grey-3: #D7D7D7;				//Medium grey
$color-grey-4: #A0A0A0;				//Medium-dark
