<% include ../partials/header %>
<% include ../partials/svg %>
<body class="directory-page">
<main>
<section class="directory-list">
<div class="row">
	<div class="col-1-of-4">
		<div class="card">
			<!-- <img class="card__picture" src="../img/directory/entry1.jpg"> -->
			<div class="card__picture"></div>
				<div class="card__title">
					The Dvine Wine Bar
					<div class="card__subtitle">
						Lovely Wines, great snacks, cool people
					</div>
				</div>
			<div class="card__rating">
				<i class="fas fa-star card__rating-icon"></i>
				<div class="card__rating-value">5</div>
			</div>
			<div class="card__address">
				<div class="card__address-line">
					Fürstenwall 33
				</div>
				<div class="card__address-line">
					40215 Düsseldorf
				</div>
				<div class="card__address-line">
					NRW, Deutschland
				</div>
			</div>
			<div class="card__footer"><a href="#" class="card__link">
				Read more
				<i class="fa fa-hand-point-right card__link-pointer"></i>
			</a>
			</div>
		</div>
	</div>
	<div class="col-1-of-4">
		<div class="card">
			<div class="card__picture"></div>
				<div class="card__title">
					The Dvine Wine Bar
					<div class="card__subtitle">
						Lovely Wines, great snacks, cool people
					</div>
				</div>
			<div class="card__rating">
				<i class="fas fa-star card__rating-icon"></i>
				<div class="card__rating-value">5</div>
			</div>
			<div class="card__address">
				<div class="card__address-line">
					Fürstenwall 33
				</div>
				<div class="card__address-line">
					40215 Düsseldorf
				</div>
				<div class="card__address-line">
					NRW, Deutschland
				</div>
			</div>
			<div class="card__footer"><a href="#" class="card__link">
				Read more
				<i class="fa fa-hand-point-right card__link-pointer"></i>
			</a>
			</div>
		</div>
	</div>
	<div class="col-1-of-4">
		<div class="card">
			<div class="card__picture"></div>
				<div class="card__title">
					The Dvine Wine Bar
					<div class="card__subtitle">
						Lovely Wines, great snacks, cool people
					</div>
				</div>
			<div class="card__rating">
				<i class="fas fa-star card__rating-icon"></i>
				<div class="card__rating-value">5</div>
			</div>
			<div class="card__address">
				<div class="card__address-line">
					Fürstenwall 33
				</div>
				<div class="card__address-line">
					40215 Düsseldorf
				</div>
				<div class="card__address-line">
					NRW, Deutschland
				</div>
			</div>
			<div class="card__footer"><a href="#" class="card__link">
				Read more
				<i class="fa fa-hand-point-right card__link-pointer"></i>
			</a>
			</div>
		</div>
	</div>
	<div class="col-1-of-4">
		<div class="card">
			<div class="card__picture"></div>
				<div class="card__title">
					The Dvine Wine Bar
					<div class="card__subtitle">
						Lovely Wines, great snacks, cool people
					</div>
				</div>
			<div class="card__rating">
				<i class="fas fa-star card__rating-icon"></i>
				<div class="card__rating-value">4.5</div>
			</div>
			<div class="card__address">
				<div class="card__address-line">
					Fürstenwall 33
				</div>
				<div class="card__address-line">
					40215 Düsseldorf
				</div>
				<div class="card__address-line">
					NRW, Deutschland
				</div>
			</div>
			<div class="card__footer"><a href="#" class="card__link">
				Read more
				<i class="fa fa-hand-point-right card__link-pointer"></i>
			</a>
			</div>
		</div>
	</div>
</div>
</section>
</main>

<% include ../partials/footer %>