.index-page {
	overflow: hidden;
}


.index-header{

	&__background {
	height: 100vh;
	background-image: url('../img/bg-image.jpg');
	background-size: cover;
	filter: url(#duotone-primary-dark-1);
	}

	&__logo-box {
		position: absolute;
		top: 1.5rem;
		left: 1.2rem;
	}

	&__logo-image{
		transform: scale(0.5);
	}

	&__text-box{
		@include absCenter;
		text-align: center;
		font-size: 7rem;
		font-family: "Amatic SC";
		color: $color-grey-1;
	}

	&__text-mark{
		text-transform: uppercase;
		color: $color-primary-3;
	}

	&__text-author {
		font-size: 4rem;
	}

	&__search-form {
		margin-top: 1.5rem;
		text-align: center;
		color: $color-grey-1;
	}

	&__search-input {
		text-align: center;
		width: 65%;
		height: 6rem;
		background-color: $color-primary-2;
		font-size: 4rem;
		font-family: inherit;
		color: inherit;
		border: none;

		&:focus {
			outline: none;
			border: 1px solid $color-grey-3;
	    }
	}

	&__search-button{
		height: 6rem;
		background-color: transparent;
		font-size: 4rem;
		font-family: inherit;
		color: inherit;
		border: none;

		&:hover{
			color: $color-primary-4;
		}
	}
}

.navigation__button-indexPref{
	position: fixed;
	top: 3rem;
	right: 6rem;
	height: 6rem;
	width: 6rem;
	background-color: transparent;
	border: 1px solid $color-grey-3;
	border-radius: 50%;
}


